body,
html {

    background: #c4c4c4;
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.centerEdit {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.edit {
    overflow: auto;
    width: 60%;
    height: 35rem;
    top: calc((100vh - 35rem) / 2);
    /* max-height: 31rem; */
    border-radius: 8px;
    background-color: #3b6653;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    position: relative;
}


.row {
    margin-top: 0.5rem;
}

.row1 {
    margin-top: 1.5rem;
}

#actualline{
    width: 99.5%;
    margin: 1rem;
    margin-left: -0.000000001px;
}

.INPUT {

    margin: 1rem;
    margin-top: -0.5rem;
    margin-bottom: 0;
    height: 4rem;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    background: #F5F4F6;
    text-align: center;
    font-size: 24px;

}

.INPUT2 {
    margin: 1rem;
    margin-top: 0;
    height: 20rem;
    width: 100%;
    border-radius: 8px;
    background: #F5F4F6;
}

#regdiv {
    margin-top: 1rem;
    height: 4rem;
    text-align: center;
}

.reg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F5F4F6;
    height: 3rem;
}

.regdesign2 {
    border-radius: 5px;
    background-color: #E8D5B9;
    width: 14rem;
    height: 2.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}


.regdesign3 {
    border-radius: 5px;
    background-color: #E8D5B9;
    width: 14rem;
    height: 2.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.regdesign3:hover {
    color: white;
    background-color: #f44336;
}

.regdesign2:hover {
    color: white;
    background-color: #4CAF50;
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    /* Width of the scrollbar */
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
    border-radius: 4px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovering over scrollbar */
    border-radius: 4px;
}

/* For horizontal scrollbar */
::-webkit-scrollbar-track {
    background: #F5F4F6;
    /* Color of the scrollbar track */
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-track-piece:end {
    background: #F5F4F6;
    /* Color of the space after the scrollbar handle */
    border-radius: 4px;
}

#backbutton1 {
    margin: 0;
    margin-bottom: -24px;
}

/* Style for the modal */
.modal_2 {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content_2 {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

/* Style for buttons inside the modal */
#confirmationModal button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#confirmYes {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#confirmNo {
    background-color: #f44336;
    color: white;
    border: none;
}


@media (max-width: 500px) {

    .edit {
        top: 0;
        max-height: 100%;
        overflow-x: hidden;
    }

    #mainbox {
        text-align: center;
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }

    #backbutton1 {
        pointer-events: none;
        opacity: 0;
    }

    #backbutton_2 {
        opacity: 1;
        pointer-events: all;
    }
    .reg{
        margin: 0.3rem;
        max-width: 12rem;
        margin-left: calc((100% - 12rem) / 2);
    }

    #regdiv{
        margin-top: 0;
    }
}

@media (min-width: 500.0001px) and (max-width: 576px) {
    #mainbox {
        width: 70%;
        left: 2rem;
        height: 37rem;
        top: calc((100vh - 37rem) / 2);
    }

    .reg{
        margin: 0.3rem;
        max-width: 15rem;
        margin-left: calc((100% - 15rem) / 2);
    }

    #regdiv{
        margin-top: 0;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #mainbox {
        width: 70%;
        left: 2rem;
        height: 37rem;
        top: calc((100vh - 37rem) / 2);
    }

    .reg{
        margin: 0.3rem;
        max-width: 15rem;
        margin-left: calc((100% - 15rem) / 2);
    }

    #regdiv{
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1057px) {

    #mainbox{
        width: 70%;
    }

    .regdesign2, .regdesign3 {
        font-size: 12px;
    }


}


@media (min-width: 768px) and (max-width: 768px) {

 
}