
.bg_duyuru_duzenle {
    background-color: #C4C4C4;
    display: flex;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body,
html {
    height: 100%;
    margin: 0;
}

.duzenle {
    align-items: center;
    overflow: auto;
    width: 850px;
    height: 600px;
    flex-shrink: 1;
    border-radius: 8px;
    background-color: #3b6653;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.photo {
    display: flex;
    width: 270px;
    height: 281px;
    padding: 28px 38px;
    margin-left: 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #F5F4F6;
    margin-top: 35px;
}

.photo img {
    display: flex;
    width: 95%;
    height: 95%;
}

.kayıt {
    display: inline-block;
    width: 220px;
    height: 60px;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    background: #F5F4F6;
    margin-left: 6%;
    margin-top: 2%;
}

.kayıt_design {
    display: inline;
    border-radius: 5px;
    background: #FF9595;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.INPUT {
    width: 765px;
    height: 50px;
    padding: 12px 355px 12px 22px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
}

.INPUT_2 {
    width: 765px;
    height: 374px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02px;
}

.Entrance {

}


.block {
    margin-left: 5%;
    
}


::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    /* Width of the scrollbar */
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
    border-radius: 4px;
    /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovering over scrollbar */
    border-radius: 4px;
}

/* For horizontal scrollbar */
::-webkit-scrollbar-track {
    background: #F5F4F6;
    /* Color of the scrollbar track */
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-track-piece:end {
    background: #F5F4F6;
    /* Color of the space after the scrollbar handle */
    border-radius: 4px;
}