.bigbox {

    overflow: auto;
    position: relative;
    background-color: #DFDFDF;
    width: auto;
    height: auto;
    border-radius: 8px;
    border: solid black 1px;
}

.row {
    margin-top: 0.5rem;
}

.col-sm {
    margin-left: 0.5rem;
    max-width: 15rem;
}

.buttondiv {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem;
}

.childbox {
    display: flex;
    width: 12rem;
    height: 4.5rem;
    border-radius: 6px;
    background-color: #F5F4F6;
    text-align: center;
    border: solid white 1px;
    justify-content: center;
    align-items: center;
}

.childbox_2 {
    width: 12rem;
    height: 4.5rem;
    border-radius: 6px;
    background-color: #F5F4F6;
    text-align: center;
    overflow: auto;
    border: solid white 1px;
}



.DERSDROP {
    border: solid white 1px;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #F5F4F6;
    color: black;
    height: 4.5rem;
    width: 12rem;
}

.centeritems {
    display: grid;
    justify-content: center;
    /* Horizontal centering */
    /* Vertical centering */
    align-items: center;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    left: 1%;
    top: 35%;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 30rem;
    min-width: 266px;
    height: auto;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-body {
    padding: 2px 16px;
    overflow-y: hidden;
}

@-webkit-keyframes animatetop {
    from {
        top: 35%;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 35%;
        opacity: 1;
    }
}


.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



@media (max-width: 500px) {

    .modal-content {
        width: 100%;
        left: 0;
        top: 35%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .bigbox {
        width: 100%;
        height: auto;
    }

    .row {
        margin-top: 0.3rem;
    }

    .col-sm {
        margin-left: 0.2rem;
        max-width: 10rem;
    }
}


@media (max-width: 360px) {

    .childbox {
        width: 8rem;
        height: 4rem;
    }
    
    .childbox_2 {
        width: 8rem;
        height: 4rem;
    }
    
    .DERSDROP {
        width: 8rem;
        height: 4rem;
    }

    .buttondiv {
        gap: 2rem;
    }
}

@media (max-width: 300px) {

    .childbox {
        width: 7rem;
        height: 4rem;
    }
    
    .childbox_2 {
        width: 7rem;
        height: 4rem;
    }
    
    .DERSDROP {
        width: 7rem;
        height: 4rem;
    }

    .buttondiv {
        gap: 1rem;
    }

}