.addimage {

    max-width: 100%;
    max-height: 90%;
}

.contentboximg {
    height: 18rem;
    border-radius: 6px;
    background-color: #F5F4F6;
    border: solid white 1px;
    padding-top: 1rem;
}


.contentbox {
    height: 18rem;
    border-radius: 6px;
    background-color: #F5F4F6;
    border: solid white 1px;
    width: 13.5rem;
}

.eventlen {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eklebutton {
    margin-left: 20%;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0.5rem;
    background-color: #E8D5B9;
}

.bigbox {

    overflow: auto;
    position: relative;
    background-color: #DFDFDF;
    width: auto;
    height: auto;
    border-radius: 8px;
    border: solid black 1px;
}

.row {
    margin-top: 0.5rem;
}

.col-sm {
    margin-left: 0.5rem;
    max-width: 15rem;
}

.buttondiv {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem;
}

.childbox {
    display: flex;
    width: 12rem;
    height: 4.5rem;
    border-radius: 6px;
    background-color: #F5F4F6;
    text-align: center;
    border: solid white 1px;
    justify-content: center;
    align-items: center;
}

.centeritems {
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    /* Vertical centering */
    align-items: center;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    left: 1%;
    top: 15%;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 30rem;
    min-width: 266px;
    height: auto;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-body {
    padding: 2px 16px;
    overflow-y: hidden;
}

@-webkit-keyframes animatetop {
    from {
        top: 15%;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 15%;
        opacity: 1;
    }
}


.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 500px) and (max-width: 576px) {


    .contentbox {
        width: 12rem;
    }

    .contentboximg {
        width: 12rem;
    }

    #overlaycontent {
        margin-left: 5%;
    }

    .buttondiv {
        margin-left: -1rem;
    }
}

@media (min-width:360px) and (max-width: 500px) {

    .modal-content {
        width: 100%;
        left: 0;
        top: 15%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .contentbox {
        width: 45%;
        height: 14rem;
        font-size: 12px;
    }

    .contentboximg {
        width: 45%;
        height: 14rem;
    }

    .eventlen {
        height: 9rem;
    }

    #overlaycontent {
        margin-left: 3%;
    }

    .childbox {
        width: 45%;
    }

    #eklebutton {
        margin-left: calc((100% - 6rem) / 2);
        font-size: 14px;
    }
}

@media (max-width:360px) {

    .modal-content {
        width: 100%;
        left: 0;
        top: 15%;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .contentbox {
        width: 45%;
        height: 10rem;
    }

    .eventlen {
        height: 6rem;
    }

    .contentboximg {
        padding-top: 0.5rem;
        width: 45%;
        height: 10rem;
    }

    #overlaycontent {
        /* margin-left: 1%; */
    }

    .childbox {
        width: 45%;
    }

    #eklebutton {
        margin-top: 0.3rem;
        height: 2.3rem;
        font-size: 10px;
        width: 70%;
        margin-left: calc((100% - 70%) / 2);
    }

    .buttondiv {
        gap: 1rem;
    }

}