.button_design{

    display: flex;
    height: 58px;
    padding: 18px 0px 18px 26px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8D5B9;

}

.bigbox {
    display: flex;
    background-color: #DFDFDF; 
    width: 400px;
    height: 480px;
    padding: 1%;
    border-radius: 8px; 
}

.childbox {
    width: 175px;
    height: 70px;
    border-radius: 4px;
    background-color: #F5F4F6; 
    text-align: center;
    padding: 24px;
}

ul li {
        display: block;
        padding: 15px;
        margin-right: 20px;
        font-weight: bold;

}

ul li:hover {
    background-color: red;
    transition: 0.7;
}
#ders_içerik{
    position: absolute;
    display: flex;
    z-index: 1;
    margin-left:150px ;
    width: 100px;
}
.news-li:hover #ders_içerik{
    display: none;
}


body, html {
    height: 100%;
    margin: 0;
}
  
.bg {
    /* The image used */
    background-image: url("/images/background 2.jpg");
    display: flex;
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parent {
    width: 250px;
    height: 250px;
    border-radius: 100%; 
    display: flex;  
    margin: 3%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, rgba(51, 65, 45, 0.20) 0%, rgba(51, 65, 45, 0.20) 100%), url("/images/sayfa.png"), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 
 .parent img {
    height: 99%;
    width: 99%;
}

.adminGiris {
    width: 467px;
    height: 600px;
    border-radius: 7px;
    background-color: #3b6653;
    display: block;
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giris {
    border-radius: 4px;
    background: #FFF;
    width: 370px;
    height: 35px;
    text-align: center;
    color: blue;
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
}

hr {
    border: 1px solid black; 
    margin: 20px 0; 
}

.verigiris1 {
    border-radius: 4px;
    width: 260px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: black;
    position: relative; 
    left: 50%; 
    margin-top: 150px;
    transform: translateX(-50%); /* Use translateX for horizontal centering */
}

.verigiris2 {
    border-radius: 4px;
    width: 260px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: black;
    position: relative; /* Change from absolute to relative */
    left: 50%; /* Adjust left property */
    margin-top: 1%;
    transform: translateX(-50%); /* Use translateX for horizontal centering */
}
.girisbuton{
    border-radius: 4px;
    width: 180px;
    height: 30px;
    text-align: center;
    color: blue;
    position: relative;
    left: 50%;
    margin-top: 7%;
    transform: translate(-50%, -50%);
}



.labeldesign{
    border-radius: 4px;
    background-color: whitesmoke;
    width: 230px;
    text-align: center;
    color: black;
}


.error-message {
    color: red;
    text-align: center;
    position: absolute;
    top: 212px; /* Adjust the top position to place it above verigiris1 */
    width: 100%; /* Width to fill the container */
    left: 0; /* Align the text to the center */
}