.button_design{

    display: flex;
    height: 58px;
    padding: 18px 0px 18px 26px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8D5B9;

}

.bigbox {

    overflow: auto;
    position: relative;
    background-color: #DFDFDF; 
    width: 450px;
    height: 500px;
    padding: 1%;
    border-radius: 8px; 
    border: solid black 1px;
}

.childbox {
    width: 175px;
    height: 70px;
    border-radius: 6px;
    background-color: #F5F4F6; 
    text-align: center;
    padding: 24px;
    border: solid white 1px;
}
.childbox_2 {
    width: 175px;
    height: 100px;
    border-radius: 6px;
    background-color: #F5F4F6; 
    text-align: center;
    display: inline; 
    overflow:auto;
    border: solid white 1px;

}

.custom-select.childbox_2 {
    height: auto; /* Set the height */
    font-size: 14px; /* Set the font size */
}

.labeldesign{
    border-radius: 4px;
    background-color: whitesmoke;
    width: 230px;
    text-align: center;
    color: black;
}

@media (max-width: 768px) {
    .bigbox {
        left: 50%; /* Adjust as needed */
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%; /* Adjust as needed */
        max-width: 400px; /* Adjust as needed */
        height: auto; /* Adjust as needed */
        padding: 5%; /* Adjust as needed */
    }

    .childbox,
    .childbox_2 {
        width: 100%; /* Adjust as needed */
        height: 60px; /* Adjust as needed */
        padding: 15px; /* Adjust as needed */
        margin-bottom: 10px; /* Adjust as needed */
    }

    .custom-select.childbox_2 {
        height: auto; /* Set the height */
        font-size: 14px; /* Set the font size */
    }

    .labeldesign {
        width: 80%; /* Adjust as needed */
        margin: 0 auto; /* Center the element */
    }
}